@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: thistle;
    font-family: 'KCC-Hanbit';
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;    
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 30px;
    width: 200px;
}

.card img {
    border-radius: 10px;
    height: 170px;
    margin-top: 15px;
    object-fit: cover;
    width: 170px
}

.card h4 {
    margin-top: 6px;
    margin-bottom: 0px;
    color:darkmagenta;
}

.card p {
    margin-top: 6px;
}

.card:hover {
    transform: translateY(-10px);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: thistle;
}